@media (prefers-color-scheme: light) {
    :root {
        --bgh: 240;
        --bgs: 13%;
        --bgl: 95%;
        --cm: 1.3;
        --tsm: 0.5;
        --color-primary: hsl(230, 100%, 30%);
        --color-negative: hsl(0, 70%, 50%);
    }
}
